.top-main-r, header, .box-img-main, .new-products, .brand-slider, .user-line, .newsletter-main, .footer-menu, .center-bl, .newsletter-main {
  min-width: 300px; }

.filter-advanced-wrapper:hover .dropdown-advanced {
  display: block; }

@media screen and (max-width:1440px){
  .menu > ul > li > .dropdown-inside {
    width: 100%;
  }
  .menu > ul > li > .dropdown-inside .brilliant-style {
    text-align: left;
  }
}

@media screen and (max-width:1100px){
  .home-top-baneer{
    padding: 0 25px;
  }
  footer{
    word-break: break-word;
  }
  .top-header-bloc-meny{
    margin-top: 4px;
  }
  .menu > ul > li > a {
    padding: 10px 6px;
    font-size: 15px;
  }
  .logo {
    width: 93%;
    display: block;
  }
  img{
    max-width: 100%;
  }

  .logo {
    margin-top: 10px;
  }

  .paging-right-50 {
    padding-right: 40px;
  }

  .w-bloc-best-servise .alert.alert-info {
    height: 155px;
    padding: 5px 15px;
    text-align: center;
  }

  .w-list-link li{
    padding: 0 2px;
    font-size: 14px;
  }

  .w-best-quality .media .pull-left{
    margin-bottom: 5px;
    float: none!important;
    display: block;
    text-align: center;
  }

  .w-bloc-search-diamond ul li .w-home-briliant {
    width: 120px;
    height: 120px;
    vertical-align: top;
    display: inline-block;
  }

  .clas-raleway-regular14{
    padding-bottom: 20px;
  }

  .w-bloc-search-diamond{
    text-align: center;
  }

  .w-bloc-search-diamond ul{
    display: block;
  }

  .w-diamond-home-sparite .w-diam-row{
    display: inline-block;
    margin: 0 15px;
  }
  .w-bloc-search-diamond{
    height: inherit;
    padding-bottom: 20px;
  }

  .w-footer-newsletter .w-btn-orange2{
    width: 120px;
  }
  .w-newsletter-form{
    margin-top: 38px;
  }

  .w-footer-newsletter{
    height: 115px;
  }

  .w-footer-newsletter .newslet-email {
    width: 330px;
    height: 43px;
    margin-right: 0;
  }

}

@media screen and (max-width: 1024px) {
  .menu {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .scheckout-page .col-xs-3, .scheckout-page .col-xs-6 {
    width: 100%;
  }

  .top-menu-b > li > a > i {
    margin-right: 2px;
  }

  .bx-wrapper {
    padding: 0 30px !important;
  }

  .search-top-f input {
    padding-right: 5px;
  }

  .w-row-footer-menu ul li{
    font-size: 14px;
  }

  .w-blog-section .thumbnail a.btn.btn-default{
    bottom: 15px;
  }

  .w-button-in-baner a{
    margin-bottom: 20px;
  }

  .top-menu-b li {
    padding: 6px 7px 0 7px;
  }

  .title-follow{
    padding-top: 25px;
  }

  .footer-menu ul{
    text-align: left!important;
    margin-top: 5px;
  }

  .footer-menu .contact-mobile{
    display: block;
  }

  .content-footer div:nth-child(4){
    display: none;
  }

  .mobile-none{
    display: none!important;
  }

  .mobile-block{
    display: block;
  }
  .w-copirait{
    padding-right: 30px;
    text-align: right;
  }

  .w-footer-down {
    padding: 57px 0 35px 0;
  }

  .w-footer-newsletter .newslet-email {
    width: 220px;
  }

  .w-bloc-home-category {
    width: 93%;
  }

  .w-bloc-home-category .h3{
    font-size: 15px;
  }

  .w-bloc-home-category .list-group {
    font-size: 12px;
  }

  .w-bloc-home-category .list-group .w-cur-left {
    right: 10px;
  }

  .w-bloc-best-servise .alert.alert-info {
    height: 175px;
  }

  .icons-marcer_desing_left_icon {
    background-position: -590px 4px;
  }

  .icons-marcer_desing_right_icon {
    background-position: -616px 4px;
  }

  .w-diamond-home-sparite .w-diam-row {
    margin: 0 10px;
  }

  .w-footer-newsletter .h3 {
    font-size: 18px;
    line-height: 23px;
  }

  .bxslider-blog .slick-slide {
    padding: 0 10px;
  }

  .w-right-home-top-slider{
    width: 380px;
    float: right;
  }

}

@media  (max-width: 768px){
  .w-copirait{
    margin: 20px 15px;
    text-align: center;
    border-top: 1px solid #536899;
  }

  .blog-control-next {
    right: 20px;
  }

  .blog-control-prev {
    right: 48px;
  }

  .logo {
    width: 400px;
    display: block;
  }

  .mobile-menu{
    position: absolute;
    right: 10px;
    top: 22px;
    z-index: 20;
  }

  .w-footer-down {
    padding: 20px 0 0;
  }

  .top-header{
    position: relative;
  }

  .top-header .span1{
    display: none!important;
  }

  .search-top-f:hover{
    width: inherit;
  }

  .search-top-f {
    width: 35px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -44px;
    margin-right: -14px;
    margin-left: -14px;
    background-color: #2f4680;
  }

  .search-top-f:hover input {
    display: table-cell!important;
  }

  .search-top-f input {
    height: 40px;
    display: none!important;
    border: 0;
  }

  .input-group-addon{
    padding: 13px 12px;
    border: 0;
  }

  .w-content-baner{
    height: 300px;
  }

  .block-phone-header{
    top: 0;
    left: 15px;
    position: absolute;
  }

  .menu{
    display: none;
  }

  .top-header-bloc-meny{
    height: 100px;
  }

  .top-menu-b > li .span2 {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 19px;
    color: white;
    font-family: "Raleway-Regular", fantasy;
  }

  #w-but-cart span{
    display: none;
  }

  .w-bloc-home-category .list-group{
    display: none;
  }

  .margin-top-40 {
    margin-top: 30px;
  }

  .w-category-gradient{
    display: none;
  }

  .w-bloc-best-category{
    background: transparent;
  }

  .w-bloc-best-servise{
    padding: 0 15px;
    box-shadow: none;
    background: url("../img/best-service.png") no-repeat center bottom;
  }

  .w-best-quality .media .pull-left {
    float: left!important;
  }

  .w-blog-section .h3, .w-bloc-search-diamond .h3, .w-bloc-best-servise .h3, .search-diamond-mobile .h3{
    font-family: "Felix Titling";
    font-size: 29px;
    margin-top: 10px;
    text-shadow: none;
  }

  .clas-raleway-regular14{
    text-shadow: none;
    color: black;
  }

  .w-bloc-best-servise .alert.alert-info {
    height: 85px;
  }

  .w-best-quality div[class^=col-]:nth-child(2n) {
    padding-right: 0;
  }

  .w-bloc-best-servise .media-body small{
    display: none;
  }

  .media-body{
    padding-top: 25px;
    text-align: left;
  }

  .home-top-baneer .w-button-in-baner {
    position: absolute;
    top: 235px;
    margin-left: inherit;
    left: -5px;
    right: -20px;
  }
  .paging-top-40 {
    padding-top: 10px;
  }
  .paging-bottom-40 {
    padding-bottom: 20px;
  }

  .w-button-in-baner a div{
    display: none!important;
  }

  .w-button-in-baner a {
    width: 47%;
    margin: 0 1%!important;
    font-size: 17px;
    text-align: center;
  }

  .w-bloc-home-category .h3 {
    font-size: 20px;
  }

  .w-bloc-home-category .h3 a{
    color: #000;
  }
  .icons-marcer_desing_left_icon, .icons-marcer_desing_right_icon{
    display: none;
  }



}

@media  (max-width: 768px){
  .w-copirait{
    padding-top: 20px;
    padding-right: 0;
    text-align: center;
    border-top: 1px solid #536899;
  }

  .w-footer-down {
    padding: 20px 0;
  }

  .top-header{
    position: relative;
  }

  .top-header .span1{
    display: none!important;
  }

  .search-top-f:hover{
    width: inherit;
  }

  .search-top-f {
    width: 35px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -44px;
    margin-right: -14px;
    margin-left: -14px;
    background-color: #2f4680;
  }

  .search-top-f:hover input {
    display: table-cell!important;
  }

  .search-top-f input {
    height: 40px;
    display: none!important;
    border: 0;
  }

  .w-content-baner{
    height: 300px;
  }

  .block-phone-header{
    top: 0;
    left: 15px;
    position: absolute;
  }

  .menu{
    display: none;
  }

  .top-header-bloc-meny{
    height: 100px;
  }

  .top-menu-b > li .span2 {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    font-size: 19px;
    color: white;
    font-family: "Raleway-Regular", fantasy;
  }

  #w-but-cart span{
    display: none;
  }

  .home-top-baneer .w-button-in-baner {
    position: absolute;
    top: 235px;
    margin-left: inherit;
    left: -15px;
    right: -25px;
  }
  .paging-top-40 {
    padding-top: 10px;
  }
  .paging-bottom-40 {
    padding-bottom: 20px;
  }

  .w-button-in-baner a div{
    display: none!important;
  }

  .w-button-in-baner a {
    width: 47%;
    margin: 0 1%!important;
    font-size: 17px;
    text-align: center;
  }

  .home-top-baneer .w-button-in-baner {
    position: absolute;
    top: 235px;
    margin-left: inherit;
    left: -5px;
    right: -5px;
  }

  .wrapper-selling .text-center{
    background-color: #f4f4f4;
  }

  .w-right-home-top-slider .panel.panel-default{
    background-color: white;
  }

  .w-list-link li a{
    color: black;
  }

  .w-right-home-top-slider{
    width: 100%;
    float: none;
    box-shadow: none;
  }

  .bx-wrapper {
    padding: 0 40px !important;
  }

  .bx-wrapper .bx-prev{
    width:16px!important;
    left: -25px!important;
    background: url("../img/arrows-dark.png") no-repeat 0 0!important;
  }

  .bxslider .w-bx-prod-name {
    font-size: 16px;
    display: inline-block;
    line-height: 23px;
    padding: 10px 0 0;
  }

  .bx-wrapper .bx-next{
    width:16px!important;
    right: -25px!important;
    background: url("../img/arrows-dark.png") no-repeat -385px 0!important;
  }

  .w-right-home-top-slider .panel.panel-default .panel-body .h1 {
    font-family: "Felix Titling";
    font-size: 29px;
    margin-top: 10px;
    color: #2f4680;
    text-shadow: none;
  }

  .w-right-home-top-slider{
    padding-top: 40px;
  }

  .w-newsletter-form:after{
    clear: both;
    content: "";
    display: table;
    width: 100%;
  }

  .w-right-home-top-slider .icons-selling_engagement_icon {
    background-position: -670px 0;
    width: 164px;
    height: 13px;
    margin: 0 auto 50px;
  }

  .form-group {
    width: 55%;
    margin-bottom: 0;
    padding-bottom: 20px;
    float: left;
  }

  .w-blog-section{
    padding-top: 35px;
    background-color: #fbfbfb;
  }

  .w-row-footer-menu{
    display: none;
  }

  .w-footer-newsletter{
    height: inherit;
    border-bottom: 2px solid white;
    background: url("../img/bg-sign-up.png") no-repeat center / cover;
  }

  .w-footer-down .paging-right-50{
    padding-right: 0;
  }

  .w-footer-down .panel-default > .panel-heading a.collapsed{
    border-bottom: 1px solid #dce7f3;
  }
  .footer-menu .panel-body li a:hover, .footer-menu .panel-body li a:focus{
    text-decoration: underline;
  }
  .footer-menu .panel-group .panel:first-child{
    border-top: 1px solid #7995b0!important;
  }
  .search-diamond-mobile .icons-quality_service_icon{
    background: url("../img/icons-quality-grey.png") no-repeat center / contain;
  }
  .search-diamond-mobile .brilliant-style li a{
    color: black;
  }

  .search-diamond-mobile .brilliant-style li{
    width: 20%;
    margin-bottom: 20px;
    display: block;
    float: left;
    text-align: center;
  }
  .search-diamond-mobile{
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f5f5f5;
  }
  .footer-menu .panel-group .panel{
    margin-top: 0;
    border-top: 0!important;
  }
  .footer-menu .panel-body li a{
    color: black;
    font-size: 16px;
  }
  .footer-menu .panel-body li{
    margin-bottom: 10px;
  }
  .footer-menu .panel-body{
    margin-top: 0;
  }
  .w-footer-down .panel-group .panel-heading + .panel-collapse > .panel-body,  .w-footer-down  .panel-group .panel-heading + .panel-collapse > .list-group{
    padding: 5px 20px;
    border-top: 0;
  }

  .footer-top-collapse{
    margin-bottom: 20px;
  }

  .w-footer-down .panel-default > .panel-heading a.collapsed:after{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  .w-footer-down .panel-default > .panel-heading a:after{
    width: 21px;
    height: 18px;
    top: 11px;
    right: 12px;
    position: absolute;
    display: block;
    content: "";
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    background: url("../img/arrow-collapse.png") no-repeat center / contain;
  }
  .w-footer-down .panel-default > .panel-heading a{
    padding: 10px 20px;
    display: block;
    position: relative;
    color: black;
    font-size: 18px;
    border-bottom: 1px solid #7895b0;
    background-color: #dce7f3;
  }

  .w-footer-down .panel-group .panel{
    border: 1px solid #7995b0;
    border-radius: 0;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow: none;
  }

  .w-footer-down .panel-default > .panel-heading{
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    border: 0;
  }

  .w-footer-newsletter .newslet-email {
    width: 100%;
  }

  .w-footer-newsletter .h3 {
    font-size: 23px;
    text-align: center;
    text-shadow: none;
  }

  .footer-logo{
    display: none;
  }

  .box-right-footer{
    float: right;
    text-align: right;
  }

  .contact-mobile{
    float: left;
  }


}

@media  (max-width: 640px){
  .form-group {
    width: 41%;
  }
  .w-blog-section .thumbnail .caption p {
    font-size: 13px;
  }
  .w-blog-section .h3, .w-bloc-search-diamond .h3, .w-bloc-best-servise .h3, .search-diamond-mobile .h3 {
    font-size: 27px;
  }


}

@media  (max-width: 480px){
  .form-group {
    width: 45%;
  }
  .form-group {
    width: 100%;
    float: none;
  }
  .w-footer-newsletter .w-btn-orange2 {
    width: 47%;
    margin: 0 1%;
  }
  .w-newsletter-form {
    height: inherit;
    padding-bottom: 20px;
  }

  .logo {
    width: 215px;
    display: block;
  }
  .mobile-menu {
    right: -8px;
    top: 8px;
  }

  .menu-button {
    width: 30px;
    height: 27px;
  }

  .mobile-menu-btn {
    width: 50px;
    padding: 10px;
  }
  .mobile-menu.open .dropdown-menu-mobile {
    margin-top: 44px;
  }

  .mobile-menu.open .dropdown-menu-mobile:before {
    width: 50px;
  }
  .top-header-bloc-meny {
    height: 55px;
  }

  .w-content-baner {
    height: 200px;
  }

  .home-top-baneer .w-button-in-baner {
    top: 135px;
  }
  .w-bloc-best-category > .center-bl > div{
    width: 100% !important;
  }
  .top-menu-b li {
    padding: 6px 12px 0 12px;
  }
  .w-content-baner {
    min-width: 10px;
  }
  .block-phone-header{
    display: none;
  }
  .w-button-in-baner a {
    width: 47%;
    margin: 0 1%!important;
    font-size: 11px;
    text-align: center;
    padding: 19px 10px;
  }

  .w-blog-section .h3, .w-bloc-search-diamond .h3, .w-bloc-best-servise .h3, .search-diamond-mobile .h3 {
    font-size: 16px;
  }

  .icons-quality_service_icon {
    margin-bottom: 25px;
  }

  .search-diamond-mobile .brilliant-style li {
    width: 33%;
    height: 82px;
  }

  .w-best-quality > div{
    width: 100%;
    padding-right: 0!important;
  }

  .clas-raleway-regular14 {
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 18px;
  }
  .w-more-info {
    left: 50%;
    margin-left: -70px;
  }

  .w-right-home-top-slider .panel.panel-default .panel-body .h1 {
    font-size: 20px;
  }

  .box-right-footer {
    float: none;
    text-align: left;
  }

  .w-right-home-top-slider .icons-selling_engagement_icon {
    margin: 0 auto 20px;
  }

  .bx-wrapper {
    padding: 0 25px !important;
  }

  .title-follow {
    padding-top: 8px;
  }

  .footer-menu .contact-mobile {
    padding-top: 10px;
  }

  .w-bloc-best-category{
    padding-bottom: 0;
  }

}

@media  (max-width: 640px){
  .form-group {
    width: 41%;
  }
  .w-blog-section .thumbnail .caption p {
    font-size: 13px;
  }
  .w-blog-section .h3, .w-bloc-search-diamond .h3, .w-bloc-best-servise .h3, .search-diamond-mobile .h3 {
    font-size: 27px;
  }


}

@media  (max-width: 480px){
  .form-group {
    width: 45%;
  }
  .form-group {
    width: 100%;
    float: none;
  }
  .w-footer-newsletter .w-btn-orange2 {
    width: 47%;
    margin: 0 1%;
  }
  .w-newsletter-form {
    height: inherit;
    padding-bottom: 20px;
  }

  .logo {
    width: 215px;
    display: block;
  }
  .mobile-menu {
    right: -8px;
    top: 8px;
  }

  .menu-button {
    width: 30px;
    height: 27px;
  }

  .mobile-menu-btn {
    width: 50px;
    padding: 10px;
  }
  .mobile-menu.open .dropdown-menu-mobile {
    margin-top: 44px;
  }

  .mobile-menu.open .dropdown-menu-mobile:before {
    width: 50px;
  }
  .top-header-bloc-meny {
    height: 55px;
  }

  .w-content-baner {
    height: 200px;
  }

  .home-top-baneer .w-button-in-baner {
    top: 135px;
  }
  .w-bloc-best-category > .center-bl > div{
    width: 100% !important;
  }
  .top-menu-b li {
    padding: 6px 12px 0 12px;
  }
  .w-content-baner {
    min-width: 10px;
  }
  .block-phone-header{
    display: none;
  }
  .w-button-in-baner a {
    width: 47%;
    margin: 0 1%!important;
    font-size: 11px;
    text-align: center;
    padding: 19px 10px;
  }

  .w-blog-section .h3, .w-bloc-search-diamond .h3, .w-bloc-best-servise .h3, .search-diamond-mobile .h3 {
    font-size: 16px;
  }

  .icons-quality_service_icon {
    margin-bottom: 25px;
  }

  .search-diamond-mobile .brilliant-style li {
    width: 33%;
    height: 82px;
  }

  .w-best-quality > div{
    width: 100%;
    padding-right: 0!important;
  }

  .clas-raleway-regular14 {
    font-size: 12px;
    padding-bottom: 10px;
    line-height: 18px;
  }
  .w-more-info {
    left: 50%;
    margin-left: -70px;
  }

  .w-right-home-top-slider .panel.panel-default .panel-body .h1 {
    font-size: 20px;
  }

  .box-right-footer {
    float: none;
    text-align: left;
  }

  .w-right-home-top-slider .icons-selling_engagement_icon {
    margin: 0 auto 20px;
  }

  .bx-wrapper {
    padding: 0 25px !important;
  }

  .title-follow {
    padding-top: 8px;
  }

  .footer-menu .contact-mobile {
    padding-top: 10px;
  }

  .w-bloc-best-category{
    padding-bottom: 0;
  }

}

/*# sourceMappingURL=desktop.css.map */
