/*todo css preloader*/
/*.container-loader{*/
    /*position:fixed;*/
    /*top:50%;*/
    /*left:50%;*/
    /*transform:translate( -50%, -50% );*/
    /*z-index: 100;*/
/*}*/
/*.container1 {*/
    /*animation:fadeInUp 5s infinite;*/
/*}*/
/*.container2 {*/
    /*animation:fadeInDown 5s infinite;*/
/*}*/
/*.container3 {*/
    /*width : 100%;*/
    /*text-align : center;*/
/*}*/
/*.circle{*/
    /*position:absolute;*/
    /*display:block;*/
    /*border-radius:50%;*/
    /*border: 2px solid #C04CFD;*/
    /*transform-origin:50% 50%;*/
    /*transform-style:preserve-3d;*/
/*}*/

/*.circle1 {*/
    /*animation : rotate1 1s infinite linear;*/
    /*border-color : #A27035;*/
    /*height:100px;*/
    /*width:100px;*/
    /*margin:-50px;*/
/*}*/
/*.circle2 {*/
    /*animation : rotate2 1s infinite linear;*/
    /*border-color : #B88B4A;*/
    /*height:70px;*/
    /*width:70px;*/
    /*margin:-35px;*/
/*}*/
/*.circle3 {*/
    /*animation:rotate3 1s infinite linear;*/
    /*border-color : #DDCA7D;*/
    /*height:10px;*/
    /*width:10px;*/
    /*margin:-5px;*/
/*}*/

/*.color1 { color : #A27035; }*/
/*.color2 { color : #B88B4A; }*/
/*.color3 { color : #DDCA7D; }*/

/*@keyframes rotate1{*/
    /*0% { transform: rotateZ(20deg) rotateY(0deg) }*/
    /*100% { transform: rotateZ(100deg) rotateY(360deg) }*/
/*}*/
/*@keyframes rotate2{*/
    /*0% { transform: rotateZ(100deg) rotateX(0deg) }*/
    /*100% { transform: rotateZ(0deg) rotateX(360deg) }*/
/*}*/
/*@keyframes rotate3{*/
    /*0% { transform: rotateZ(100deg) rotateX(-360deg) }*/
    /*100% { transform: rotateZ(-360deg) rotateX(360deg) }*/
/*}*/


@media (max-width: 767px) {
    .container-loader {
        left: 41%!important;
    }
}


.container-loader {
    display: block;
    width: 70px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    -webkit-animation: container-loader 1.5s infinite linear;
    -moz-animation: container-loader 1.5s infinite linear;
    -o-animation: container-loader 1.5s infinite linear;
    animation: container-loader 1.5s infinite linear;
    transform-style: preserve-3d;
}

@-webkit-keyframes container-loader {
    to {
        -webkit-transform: rotateY(360deg);
    }
}

@-moz-keyframes container-loader {
    to { -moz-transform: rotateY(360deg); }
}

@-ms-keyframes container-loader {
    to { -ms-transform: rotateY(360deg); }
}

@-o-keyframes container-loader {
    to {
        -o-transform: rotateY(360deg);
    }
}

@keyframes container-loader {
    to { transform:  rotateY(360deg); }
}



.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-top-color: grey;
    border-width: 5px 5px 0;
}


.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-left-color: grey;
    border-width: 5px 0 5px 5px;
}

.tooltip-inner {
    color: #000;
    background: #fff;
    position: relative;
    top:20%;
    border: 1px solid grey;
}
