@font-face {
  font-family: 'Aliquam';
  src: url('../fonts/Aliquam/Aliquam/Aliquam.eot');
  src: url('../fonts/Aliquam/Aliquam/Aliquam.eot') format('embedded-opentype'),
  url('../fonts/Aliquam/Aliquam/Aliquam.woff') format('woff'),
  url('../fonts/Aliquam/Aliquam/Aliquam.ttf') format('truetype'),
  url('../fonts/Aliquam/Aliquam/Aliquam.svg#Aliquam') format('svg');
}

@font-face {
  font-family: 'SegoeUILight';
  src: url('../fonts/SegoeUILight/SegoeUILight.eot');
  src: url('../fonts/SegoeUILight/SegoeUILight.eot') format('embedded-opentype'),
  url('../fonts/SegoeUILight/SegoeUILight.woff') format('woff'),
  url('../fonts/SegoeUILight/SegoeUILight.ttf') format('truetype'),
  url('../fonts/SegoeUILight/SegoeUILight.svg#SegoeUILight') format('svg');
}


@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/SegoeUI/SegoeUI.eot');
  src: url('../fonts/SegoeUI/SegoeUI.eot') format('embedded-opentype'),
  url('../fonts/SegoeUI/SegoeUI.woff') format('woff'),
  url('../fonts/SegoeUI/SegoeUI.ttf') format('truetype'),
  url('../fonts/SegoeUI/SegoeUI.svg#SegoeUI') format('svg');
}

.link-undeline, .text-undeline{
  text-decoration: underline;
}

.link-undeline:hover, .none-underline{
  text-decoration: none!important;
}

input:focus, textarea:focus{
  outline: none;
}

a:hover, a:focus{
  text-decoration: none;
}

input{
  box-shadow: none;
}